body {
  font-family: "Montserrat" !important;
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* HEADINGS */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem !important;
  line-height: 1.5;
  font-weight: 900 !important;
}


.seciton-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINERS */

.container-fluid {
  padding: 7% 15% !important;
}

/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem !important;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: Montserrat;
  font-weight: 100;
  font-size: 1.2rem;
}


/* DL Buttons */

.download-button {
  margin: 5% 3% 5% 0% !important;
}

/* TITLE SECTION */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7% !important;
}


/* TITLE IMG */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}

/* Features */

#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS */

#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA  */

#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* FOOTER */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
